# .morph
.morph/*
!.morph/frontend/dist
!.morph/core
!.morph/meta.json

# node_modules
node_modules
package-lock.json
package.json

.mock_user_context.json
README.md
.gitignore
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.mypy_cache/
.ruff_cache/
